<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>den0bot statistics - @ViewData["Title"]</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	@RenderSection("Styles", required: false)
</head>
<body>
	<div class="container">
		<main role="main" class="pb-1 pt-2">
			@RenderBody()
		</main>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>